<p>
	<a class="monospace" href="/">&larr; Back</a> 
</p>

<div class="postzoom">
	<h2 class="title"><%= article[:title] %></h2>
	<p class="meta"><small><%= article.linked_tags %></small></p>
	<p class="meta"><%= article[:date].strftime "%d %b %y"  %></p>
	<div class="entry">
		<%= article.body_html %>
	</div>
</div>


<div class="addthis_toolbox addthis_32x32_style addthis_default_style">
    <a class="addthis_button_facebook"></a>
    <a class="addthis_button_twitter"></a>
    <a class="addthis_button_email"></a>
    <a class="addthis_button_google"></a>
    <a class="addthis_button_compact"></a>
</div>

<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=YOUR-ACCOUNT-ID"></script>
<br />

<% if Blog.disqus_shortname %>
	<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/<%= Blog.disqus_shortname %>/embed.js"></script><noscript><a href="http://<%= Blog.disqus_shortname %>.disqus.com/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
<% end %>
