<% articles.each do |article| %>
<div class="post">
	<p class="date"><%= article[:date].strftime("%b") %><b><%= article[:date].strftime("%d") %></b></p>
	<h2 class="title"><a href="<%= article.url %>"><%= article[:title] %></a></h2>
	<p class="meta"><small>
		<% if Blog.disqus_shortname %>
		<a href="<%= article.url %>#disqus_thread">comments</a>
		<% end %>
	</small></p>
	<div class="entry">
		<%= article.summary %>
		<% if article.more? %>
			<a href="<%= article.url %>">Continue reading &raquo;</a>
		<% end %>
	</div>
</div>
<% end %>

<% if articles.empty? %>
	<h2><p><span class="monospace">tail: t.log: No such file or directory</span></p></h2>
<% else %>
	<div id="older_posts">
		<a href="/archive">Archive</a>
	</div>
<% end %>

