
<div id="left">

<% @articles.each do |article| %>
  
    <div class="title">
    <h1><%= link_to article.title, article%></h1>
    </div>
    
    <p class="date">@<%= article.date.strftime("%d") %><b><%= article.date.strftime("%b") %></b><%= article.date.strftime("%y") %></p>    
    
    <% if !article.content.nil? %>
    <div class="abstract">      
      
      <%= article.to_html[0..1500].html_safe %> 
      <%= link_to "...continue lendo", article%>
              
    </div>
    <% end %>
        
    <p>tags 
    <% article.tags.split(",").each do |tag| %>       
      <%= link_to tag, "/articles/tag/#{tag.strip}" %>
    <% end %>
    </p>
        
<% end %>

</div>

<%= render 'right' %>


<br/>
<br/>
