
 
<div id="left">

<% @articles.each do |article| %>
  
    <div class="title">
    <h1><%=article.title%></h1>
    </div>
    
    <p class="date">at <%= article.date.strftime("%d") %><b><%= article.date.strftime("%b") %></b><%= article.date.strftime("%y") %></p>    
    
    <div class="abstract">
    <%= article.content.html_safe %>    
    </div>
    
    <p><%= article.author %></p>
    
    <p>tags 
    <% article.tags.split(",").each do |tag| %>       
      <%= link_to tag, "/articles/tag/#{tag.strip}" %>
    <% end %>
    </p>
    <p>
    <%= link_to 'Show', article %>
    <%= link_to 'Edit', edit_article_path(article) %>
    <%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %></p>
  
<% end %>

</div>

<div id="right">  
  <br/>
  <h3>Contact</h3>
  <img src="/images/gmail.ico"/> emerson@moretto.eng.br<br/>
  <img src="/images/twitter.ico"/> <a href="http://www.twitter.com/emersonmoretto" target="_blank">twitter</a><br/>
  <img src="/images/linkedin.ico"/> <a href="http://www.linkedin.com/in/emersonmoretto" target="_blank">linkedin</a><br/>
  
  <br/>
  <br/>
  <br/>
  <h3>Tags</h3>
  <% Article.all_tags.each do |tag| %>
    <%= link_to tag, "/articles/tag/#{tag.strip}" %><br/>
  <%end%>
</div>

<br/>

<div class="clear">
  <%= link_to 'New Article', new_article_path %>    
  
  
  <% (1..Article.page_count).each do |i| %>  
  <%=i%>
  <%end%>
</div>

