<p id="notice"><%= notice %></p>

<div id="left">
  
 <div class="title">
    <h1><%=@article.title%></h1>
    </div>
    
    <p class="date">@<%= @article.date.strftime("%d") %><b><%= @article.date.strftime("%b") %></b><%= @article.date.strftime("%y") %></p>    
    
    <div class="abstract">
    <%= @article.to_html.html_safe %> 
    </div>
        
    <p>tags 
    <% @article.tags.split(",").each do |tag| %>       
      <%= link_to tag, "/articles/tag/#{tag.strip}" %>
    <% end %>
    </p>
    

<div id="disqus_thread"></div>
     <script type="text/javascript">    
       var disqus_identifier = <%= @article.id%>; 
      
      var disqus_developer = 1;
    (function() {
     var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
     dsq.src = 'http://emoretto.disqus.com/embed.js';
     (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=emoretto">comments powered by Disqus.</a></noscript>


</div>

<%= render 'right' %>

<%= link_to 'Back', articles_path %>
