<!DOCTYPE html>
<html>
<head>
  <title>Writings</title>
  <%= stylesheet_link_tag "application", "github" %>
  <%= javascript_include_tag "jquery-1.4.2.min", "rails", "highlight.pack" %>   
  <script type="text/javascript">
      hljs.initHighlightingOnLoad();
  </script>  
  <%= csrf_meta_tag %>
</head>
<body>

<div id="head" onclick="location.href='/'">
  
  <h1>emoretto's writings</h1>
    <h4>maybe this helps someone</h4>
    
   
</div>
    
  <div id="container">
    <%= yield %>
  </div>
  
  <div class="clear footer">
    This blog is open-source, feel free to use, fork it at <a href="http://github.com/emersonmoretto/writings" target="_blank">http://github.com/emersonmoretto/writings</a><br/><br/>    
    Internet Explorer ins't welcome here<br/>    
    <a rel="license" href="http://creativecommons.org/licenses/by/2.5/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/2.5/88x31.png" /></a><br/>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5 Generic License</a>.
    </div>
  
  

<%= javascript_include_tag :defaults %>

</body>
</html>
